{{ 'component-dialog.css' | asset_url | stylesheet_tag }}

<header class="header">
  <div class="container">
    <details class="dialog drawer overlay">
      <summary aria-haspopup="dialog" aria-controls="MenuDrawer">
        <span class="menu-btn" aria-label="Open menu">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-menu-icon lucide-menu"
          >
            <path d="M4 5h16"/><path d="M4 12h16"/><path d="M4 19h16"/>
          </svg>
        </span>
        <span class="dialog-close menu-btn" aria-label="Close menu">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-x-icon lucide-x"
          >
            <path d="M18 6 6 18"/><path d="m6 6 12 12"/>
          </svg>
        </span>
      </summary>
      <nav id="MenuDrawer" role="dialog" aria-label="Menu" aria-modal="true">
        <div class="dialog-body">
          <ul class="menu list-unstyled" role="list">
            {%- for link in section.settings.menu.links -%}
              <li>
                {%- if link.links != blank -%}
                  <details class="disclosure">
                    <summary
                      class="menu-item{% if link.child_active %} active{% endif %}"
                      role="button"
                      aria-expanded="true"
                      aria-controls="MenuItem-{{ forloop.index }}-Submenu"
                    >
                      <span>
                        {{ link.title | escape }}
                      </span>
                    </summary>
                    <div id="MenuItem-{{ forloop.index }}-Submenu">
                      <ul class="submenu list-unstyled" role="list">
                        {%- for childlink in link.links -%}
                          <li>
                            {%- if childlink.links == blank -%}
                              <a
                                href="{{ childlink.url }}"
                                class="menu-item{% if childlink.current %} active{% endif %}"
                                {% if childlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ childlink.title | escape }}
                              </a>
                            {% else %}
                              <details class="disclosure">
                                <summary
                                  class="menu-item{% if link.child_active %} active{% endif %}"
                                  role="button"
                                  aria-expanded="true"
                                  aria-controls="MenuItem-{{ forloop.index }}-Submenu"
                                >
                                  <span>{{ childlink.title | escape }}</span>
                                </summary>
                                <div id="MenuItem-{{ forloop.index }}-Submenu">
                                  <ul class="submenu list-unstyled">
                                    {%- for grandchildlink in childlink.links -%}
                                      <li>
                                        <a
                                          href="{{ grandchildlink.url }}"
                                          class="menu-item{% if grandchildlink.current %} active{% endif %}"
                                          {% if childlink.current %}
                                            aria-current="page"
                                          {% endif %}
                                        >
                                          {{ grandchildlink.title | escape }}
                                        </a>
                                      </li>
                                    {%- endfor -%}
                                  </ul>
                                </div>
                              </details>
                            {% endif %}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  </details>
                {%- else -%}
                  <a
                    href="{{ link.url }}"
                    class="menu-item{% if link.current %} active{% endif %}"
                    {% if link.current %}
                      aria-current="page"
                    {% endif %}
                  >
                    <span
                      {%- if link.current %}
                        class="active"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </nav>
    </details>

    <div class="logo">
      {%- if request.page_type == 'index' -%}
        <h1>
      {%- endif -%}
      <a href="{{ routes.root_url }}">
        {%- if section.settings.logo != blank -%}
          {{
            section.settings.logo
            | image_url: width: 250
            | image_tag: width: 125, alt: section.settings.logo.alt
            | default: shop.name
            | escape
          }}
        {%- else -%}
          <span class="h2">{{ shop.name }}</span>
        {%- endif -%}
      </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    </div>

    <div class="utility-links">
      <a href="{{ routes.search_url }}">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-search-icon lucide-search"
        >
          <path d="m21 21-4.34-4.34"/><circle cx="11" cy="11" r="8"/>
        </svg>
      </a>
      {%- if customer -%}
        <a href="{{ routes.account_url }}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-user-icon lucide-user"
          >
            <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/>
          </svg>
        </a>
      {%- else -%}
        <a href="{{ routes.account_login_url }}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-user-icon lucide-user"
          >
            <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/>
          </svg>
        </a>
      {%- endif -%}
      <a href="{{ routes.cart_url }}">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-shopping-cart-icon lucide-shopping-cart"
        >
          <circle cx="8" cy="21" r="1"/><circle cx="19" cy="21" r="1"/><path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"/>
        </svg>
        <span id="CartBubble">
          {%- unless cart == empty %}({{ cart.item_count }}){% endunless -%}
        </span>
      </a>
    </div>
  </div>
</header>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Header",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}
